<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/estilo/Style.css">
    <title>Home</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <header>
        <div class="marca-dagua">
            <img src="/Xhopii/assets/img/logo.png">
            <h1>Xhopii</h1>
        </div>

        <div class="sair">
            <img src="/Xhopii/assets/img/porta-de-saida.svg" alt="">
            <a href="login.html">Sair</a>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="Cadastro-Cliente.html">Cadastro Cliente</a></li>
            <li><a href="Cadastro-Funcionario.html">Cadastro Funcionário</a></li>
            <li><a href="Cadastro-Produto.html">Cadastro Produto</a></li>
            <li><a href="Ver-Clientes.html">Ver Clientes</a></li>
            <li><a href="Ver-Funcionarios.html">Ver Funcionários</a></li>
            <li><a href="Ver-Produtos.html">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="carrossel">
        <div id="carouselXhopii" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="../assets/img/hipercard.png" class="d-block w-100" alt="Promoção">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/hipercard.png" class="d-block w-100" alt="Promoção">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/hipercard.png" class="d-block w-100" alt="Promoção">
                </div>

                <div class="carousel-item">
                    <img src="../assets/img/hipercard.png" class="d-block w-100" alt="Promoção">
                </div>

            </div>

            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselXhopii"
                    data-bs-slide="prev">

                <span class="carousel-control-prev-icon"></span>

            </button>

            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselXhopii"
                    data-bs-slide="next">

                <span class="carousel-control-next-icon"></span>

            </button>

        </div>

    </section>

    <section class="banner-Xhopii">
        <img src="../assets/img/banner-Xhopii2.png" alt="">
    </section>


    <section class="descobertas">

    <h2>DESCOBERTAS DO DIA</h2>
    <hr>

    <div class="grid-produtos">

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto1.png" alt="Produto 1">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>171 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto2.png" alt="Produto 2">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto3.png" alt="Produto 3">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto4.png" alt="Produto 4">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto5.png" alt="Produto 5">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>
        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto1.png" alt="Produto 1">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>171 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto2.png" alt="Produto 2">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto3.png" alt="Produto 3">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto4.png" alt="Produto 4">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

        <a href="Produto.html" class="produto">
            <img src="../assets/img/produto5.png" alt="Produto 5">
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <strong>R$ 59,90</strong>
            <p>67 disponíveis</p>
        </a>

    </div>

    </section>



    <footer>
        <section class="roda-pe-info">
            <div class= "div-footer">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href="">Central de ajuda</a></li>
                    <li><a href="">Como Comprar</a></li>
                    <li><a href="">Métodos de Pagamento</a></li>
                    <li><a href="">Garantia Xhopii</a></li>
                    <li><a href="">Devolução e Reembolso</a></li>
                    <li><a href="">Fale Conosco</a></li>
                    <li><a href="">Ouvidoria</a></li>
                </ul>
            </div>

            <div class="div-footer">
                <h4>SOBRE A XHOPII</h4>
                <ul>
                    <li><a href="">Sobre nós</a></li>
                    <li><a href="">Políticas Xhopii</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                    <li><a href="">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="">Seja um Entregador Xhopii</a></li>
                    <li><a href="">Ofertas Relâmpago</a></li>
                    <li><a href="">Xhopii Blog</a></li>
                    <li><a href="">Empresa</a></li>
                </ul>
            </div>

            <div class="div-footer" >
                <h4>PAGAMENTOS</h4>
                <ul id="img-pagamento">
                    <li><a href=""><img src="../assets/img/mastercard-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/visa-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/elo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/hipercard.png" alt=""></a></li>
                </ul>
            </div>

            <div class="div-footer" id="img-social">
                <h4>SIGA-NOS</h4>
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/facebook.svg" alt=""></a>
                        <p>Facebook</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/instagram.svg" alt=""></a>
                        <p>Instagram</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linkedin.svg" alt=""></a>
                        <p>Linkedin</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/twitter.svg" alt=""></a>
                        <p>Twitter</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/youtube.svg" alt=""></a>
                        <p>Youtube</p>
                    </li>
                </ul>
            </div>

            <div class= "div-footer" id="img-qrcode">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href=""><img src="../assets/img/qr-code.png" alt=""></a></li>
                </ul>
            </div>
        </section>

        <hr>

        <div class="roda-pe-copy">
            <p>© 2026 Xhopii Todos os direitos acadêmicos reservados</p>
        </div>
    </footer>

</body>
</html>