<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/estilo/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="marca-dagua">
            <img src="../assets/img/logo.png" alt="">
            <h1>Xhopii</h1>
        </div>

        <div class="ajuda">
            <a href="">Precisa de ajuda?</a>
        </div>
    </header>

    <section class="login">
        <div class="login-aba">
            <h2>Login</h2>

            <div class="login-labels">
                <label for="email">Email</label>
                <input type="email" id="email">
                <label for="password">Senha</label>
                <input type="password" id="password">
                <button>Entre</button>
            </div>

            <div class="links-secundarios">
                <a href="">Esqueci minha senha</a>
                <a href="">Fazer login com SMS</a>
            </div>

            <div class="separador">
                <hr>
                <p>OU</p>
                <hr>
            </div>

            <div class="login-redes">

                <a href="">
                    <button>
                        <img src="../assets/img/google.png" alt="">
                        <p>Google</p>
                    </button>
                </a>

                <a href="">
                    <button>
                        <img src="../assets/img/facebook.png" alt="">
                        <p>Facebook</p>
                    </button>
                </a>
                
                <a href="">
                    <button>
                        <img src="../assets/img/instagram.png" alt="">
                        <p>Instagram</p>
                    </button>
                </a>
            </div>

            
        </div>

    </section>


    <footer>
        <section class="roda-pe-info">
            <div class= "div-footer">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href="">Central de ajuda</a></li>
                    <li><a href="">Como Comprar</a></li>
                    <li><a href="">Métodos de Pagamento</a></li>
                    <li><a href="">Garantia Xhopii</a></li>
                    <li><a href="">Devolução e Reembolso</a></li>
                    <li><a href="">Fale Conosco</a></li>
                    <li><a href="">Ouvidoria</a></li>
                </ul>
            </div>

            <div class="div-footer">
                <h4>SOBRE A XHOPII</h4>
                <ul>
                    <li><a href="">Sobre nós</a></li>
                    <li><a href="">Políticas Xhopii</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                    <li><a href="">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="">Seja um Entregador Xhopii</a></li>
                    <li><a href="">Ofertas Relâmpago</a></li>
                    <li><a href="">Xhopii Blog</a></li>
                    <li><a href="">Empresa</a></li>
                </ul>
            </div>

            <div class="div-footer" >
                <h4>PAGAMENTOS</h4>
                <ul id="img-pagamento">
                    <li><a href=""><img src="../assets/img/mastercard-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/visa-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/elo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/hipercard.png" alt=""></a></li>
                </ul>
            </div>

            <div class="div-footer" id="img-social">
                <h4>SIGA-NOS</h4>
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/facebook.svg" alt=""></a>
                        <p>Facebook</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/instagram.svg" alt=""></a>
                        <p>Instagram</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linkedin.svg" alt=""></a>
                        <p>Linkedin</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/twitter.svg" alt=""></a>
                        <p>Twitter</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/youtube.svg" alt=""></a>
                        <p>Youtube</p>
                    </li>
                </ul>
            </div>

            <div class= "div-footer" id="img-qrcode">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href=""><img src="../assets/img/qr-code.png" alt=""></a></li>
                </ul>
            </div>
        </section>

        <hr>

        <div class="roda-pe-copy">
            <p>© 2026 Xhopii Todos os direitos acadêmicos reservados</p>
        </div>
    </footer>
    
</body>
</html>