<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Xhopii/assets/estilo/Style.css">
    <title>Loja Online</title>
</head>
<body>
    <header>
        <div class="marca-dagua">
            <img src="/Xhopii/assets/img/logo.png">
            <h1>Xhopii</h1>
        </div>

        <div>
            <a href="" class="link">
                <button class="login-button">
                    <img src="../assets/img/usuario-do-circulo.png" alt="">
                    <p>Login</p>
                </button>
            </a>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="Index.html">Home</a></li>
            <li><a href="Cadastro-Cliente.html">Cadastro Cliente</a></li>
            <li><a href="Cadastro-Funcionario.html">Cadastro Funcionário</a></li>
            <li><a href="Cadastro-Produto.html">Cadastro Produto</a></li>
            <li><a href="Ver-Clientes.html">Ver Clientes</a></li>
            <li><a href="Ver-Funcionarios.html">Ver Funcionários</a></li>
            <li><a href="Ver-Produtos.html">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="container-pai">
        <div class="container-esquerda">
            <ul>
                <li><img src="/Xhopii/assets/img/produto1.png" alt=""></li>
                <li><img src="/Xhopii/assets/img/produto2.png" alt=""></li>
                <li><img src="/Xhopii/assets/img/produto3.png" alt=""></li>
                <li><img src="/Xhopii/assets/img/produto4.png" alt=""></li>
                <li><img src="/Xhopii/assets/img/produto5.png" alt=""></li>
            </ul>
        </div>

        <div class="container-central">
            <img src="/Xhopii/assets/img/produto1.png" alt="">
        </div>

        <div class="container-direita">
            <h2>Camisa Desenvolvedor Front-End CSS</h2>
            <h2 id="preco">R$56,90</h2>
            <p>171 peças disponíveis</p>
            <p>Modelos:</p>

            <ul>
                <li>Preto</li>
                <li>Azul</li>
                <li>Verde</li>
                <li>Cinza</li>
                <li>Rosa</li>
            </ul>

            <p>Tamanhos:</p>

            <ul>
                <li>P</li>
                <li>M</li>
                <li>G</li>
                <li>GG</li>
            </ul>

            <p>Tamanho Selecionado: P</p>

            <button id="comprar">Comprar Agora</button>
        </div>
    </section>

    <footer>
        <section class="roda-pe-info">
            <div class= "div-footer">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href="">Central de ajuda</a></li>
                    <li><a href="">Como Comprar</a></li>
                    <li><a href="">Métodos de Pagamento</a></li>
                    <li><a href="">Garantia Xhopii</a></li>
                    <li><a href="">Devolução e Reembolso</a></li>
                    <li><a href="">Fale Conosco</a></li>
                    <li><a href="">Ouvidoria</a></li>
                </ul>
            </div>

            <div class="div-footer">
                <h4>SOBRE A XHOPII</h4>
                <ul>
                    <li><a href="">Sobre nós</a></li>
                    <li><a href="">Políticas Xhopii</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                    <li><a href="">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="">Seja um Entregador Xhopii</a></li>
                    <li><a href="">Ofertas Relâmpago</a></li>
                    <li><a href="">Xhopii Blog</a></li>
                    <li><a href="">Empresa</a></li>
                </ul>
            </div>

            <div class="div-footer" >
                <h4>PAGAMENTOS</h4>
                <ul id="img-pagamento">
                    <li><a href=""><img src="../assets/img/mastercard-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/visa-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/elo.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/hipercard.png" alt=""></a></li>
                </ul>
            </div>

            <div class="div-footer" id="img-social">
                <h4>SIGA-NOS</h4>
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/facebook.svg" alt=""></a>
                        <p>Facebook</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/instagram.svg" alt=""></a>
                        <p>Instagram</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linkedin.svg" alt=""></a>
                        <p>Linkedin</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/twitter.svg" alt=""></a>
                        <p>Twitter</p>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/youtube.svg" alt=""></a>
                        <p>Youtube</p>
                    </li>
                </ul>
            </div>

            <div class= "div-footer" id="img-qrcode">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href=""><img src="../assets/img/qr-code.png" alt=""></a></li>
                </ul>
            </div>
        </section>

        <hr>
        
        <div class="roda-pe-copy">
            <p>© 2026 Xhopii Todos os direitos acadêmicos reservados</p>
        </div>
    </footer>
    
</body>
</html>